<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="vendor/autoload.php"
         checkForUnintentionallyCoveredCode="true"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="tjbp/laravel-verify-emails">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
